@import url('datatables.net-dt');

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    margin-top: 1rem;
    margin-bottom: 10px;
}

.address {
    margin-top: 10px;
    margin-bottom: 10px;
}

.create-employee{
    margin-bottom: 16px;
    width: 291.594px;
}

.create-employee input{
    width: 177px;
}

.create-employee select{
    width: 258px;
}

.state, .department{
    background: #f6f6f6;
    border: 1px solid #858585 ;
    border-radius: 1px;
    font-size: 1em;
    padding: 5px 5px 5px 5px;
}

.state option, .department option{
    background: white;
}

.search_employee-table{
    margin-left: 3px;
    margin-right: 3px;
}

.select_employee-table{
    margin-left: 5px;
    margin-right: 5px;
}

.divHeader,.divFooter{
    width: 1173px;
    display: flex;
    justify-content: space-between;
}

.divHeader{
    margin-bottom: 8px;
}

.divFooter{
    border-top: black 1px solid;
    padding-top: 13px;
}

table{
    width: 1173px;
    height: 73px;
}

.dataTables_empty{
    background-color: #f6f6f6;
    border-top: black 1px solid;
    text-align: center;
    padding: 8px 0px 8px 0px;
}

.index{
    margin: 0px ;
    background-color: #f6f6f6;
    text-align: left;
    padding: 8px 10px;
}

.firstName{
    background-color: #f1f1f1;
}

.even .index{
    background-color: white;
}
.even .firstName{
    background-color: #f6f6f6;
}

.display {
    border-collapse: collapse;
}

.displayThead .sorting{
    padding: 10px 0px 10px 0px;
    border-bottom: black 1px solid;
    text-align: center;
}

.indexOdd{
    border-top: 1px solid #ddd;
}

.current{
    border: 1px solid #979797;
    color: #333;
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
    text-decoration: none;
    padding:8px 16px 8px 16px;
    margin-left: 2px;
}

.notCurrent{
    padding:8px 16px 8px 16px;
    margin-left: 2px;
}

.next, .previous{
    color: #666;
    padding:8px 16px 8px 16px;
    margin-left: 2px;
}

.next:hover, .previous:hover, .notCurrent:hover{
  cursor: pointer;
  background-color: #333;
  color: white;
}